<!DOCTYPE html>
<html>
<head>
    <title>Manage Your Listings</title>
    <link rel="stylesheet" href="/public/manageListing.css">
</head>
<body>
    <h1>Manage Your Car Listings</h1>

    {{#if cars}}
        <ul>
            {{#each cars}}
                <li>
                    <p><strong>Model:</strong> {{model}}, <strong>Year:</strong> {{year}}, <strong>Mileage:</strong> {{mileage}}, <strong>Price:</strong> ${{rentalPrice}}</p>
                    <p><strong>Availability:</strong>
                        {{#if availability}}
                            {{#each availability}}
                                {{#if (isAvailable this)}}
                                    Available until {{dateFormat endDate 'MM-DD-YYYY'}}
                                {{else}}
                                    Unavailable
                                {{/if}}
                            {{/each}}
                        {{else}}
                            Available Now
                        {{/if}}
                    </p>
                    {{#if bookings.length}}
                        <strong>Bookings:</strong>
                        <ul>
                            {{#each bookings}}
                                <li>
                                    Renter: {{renterUsername}}, From: {{dateFormat startDate 'MM-DD-YYYY'}} To: {{dateFormat endDate 'MM-DD-YYYY'}}
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <p>No bookings for this car.</p>
                    {{/if}}
                    <a href="/car/edit/{{_id}}">Edit</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p class="no-listings-message">You have no car listings yet.</p>
    {{/if}}

    <a href="/car/list">Add a New Car</a>
</body>
</html>