<!DOCTYPE html>
<html>
<head>
    <title>Your Rented Cars</title>
    <link rel="stylesheet" href="/public/rentedCars.css">
</head>
<body>
    <h1>Your Rented Cars</h1>

    {{#if rentedCars}}
        <ul>
            {{#each rentedCars}}
                <li>
                    <p><strong>Model:</strong> {{model}}, <strong>Year:</strong> {{year}}, <strong>Mileage:</strong> {{mileage}}, <strong>Price:</strong> ${{rentalPrice}}</p>
                    <p><strong>Rental Period:</strong> From {{dateFormat startDate 'MM-DD-YYYY'}} To {{dateFormat endDate 'MM-DD-YYYY'}}</p>
                    <p><strong>Owner:</strong> <a href="/messages/{{ownerUsername}}">{{ownerUsername}}</a></p>
                    {{#if paymentMade}}
                        <span>Payment Made</span>
                    {{else}}
                        <form action="/car/pay/{{_id}}" method="POST">
                            <button type="submit">Pay ${{rentalPrice}}</button>
                        </form>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p class="no-cars-message">You are not renting any cars at the moment.</p>
    {{/if}}

    <a href="/home">Back to Home</a>

    <script>
        // Check if the error query parameter is present
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('error') === 'insufficientBalance') {
            alert('Insufficient balance. Please add funds to your account.');
        }
    </script>
</body>
</html>
